@page "/fetchdata"

@using IMD0180BlazorFront.Data

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>


@code {
   // private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
   //     forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
